.grilla {
    width:100vw;
    height:100vh;
    background-color: antiquewhite;
    display:grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header header header"
                         "sidebar main main main"
                         "footer footer footer footer"; 
}